.background {
  height: 100%;
  margin: 0;
  background-image: url('/static/background.png');
  background-size: cover;
  background-position: center;
  opacity: 0.95;
}

.sidebar {
  height: 100%;
  opacity: 1;
}

.shifted-content {
  position: fixed;
  transition: margin-left 0.2s ease;

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.shifted {
  margin-left: 240px; 
}

.app-bar {
  width: 100%;
  opacity: 1;
  background-color: #c22a2a;
}

[data-role="carousel"] {
  height: 70vh; /* adjust the height to your liking */
  opacity: 1;
}

.slide {
  height: 70vh; /* adjust the height to match the carousel height */
  opacity: 1;
}

a {
  text-decoration: none;
}


label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}

#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
  opacity: 1;
  border: 2px solid darksalmon;
}

#largecard {
  flex-direction: column;
  height: 100%;
  position: center;
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 720px;
  margin: 3rem auto 8.1rem auto;
  width: 1000px;
  opacity: 1;
  z-index: 1; 
  padding: 50px;
  border: 2px solid darksalmon;


}
#card2{
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 510px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
  position: relative;
  opacity: 1;
  border: 2px solid darksalmon;
}

#medCard{
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 500px;
  margin: 6rem auto 8.1rem auto;
  width: 700px;
  position: relative;
  opacity: 1;
  border: 2px solid darksalmon;
}

.table-container{
  overflow: auto;
  max-height:100%;
}




/* CSS */
.button-container {
  display: flex; /* Display the buttons in a row */
  justify-content: space-between; /* Add space between the buttons */
  width: 100%; /* Set the width to 100% of the container */
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Add this line to vertically align the buttons */
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container button {
  width: 48%;
}


.stop-button {
  background-color: red;
}

.play-button i:before {
  content: "\f04b"; /* Play icon */
}

.stop-button i:before {
  content: "\f04d"; /* Stop icon */
}


#pcard{
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 700px;
  margin: 3rem auto 8.1rem auto;
  width: 1250px;
  opacity: 1;
  z-index: 1; 
  padding: 50px;
  border: 5px solid darksalmon;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


#card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  color: #c22a2a;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
#submit-btn {
  background: -webkit-linear-gradient(right, #d16f8c, #c22a2a);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #c22a2a;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
  display: block;
  position: right;
 margin-bottom: 10px;
  
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px #c22a2a;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.recForm {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-border {
  background: -webkit-linear-gradient(right, #d16f8c, #c22a2a);
  height: 1px;
  width: 100%;
}

  .form-content {
    width: 100%;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    font-size: 1rem;
}
.underline-title {
  background: -webkit-linear-gradient(right, #d16f8c, #c22a2a);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}

#upload-button {
  display: none;
  background: -webkit-linear-gradient(right, #d16f8c, #c22a2a);
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #c22a2a;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
input[type="file"]:valid ~ #upload-button {
  display: inline;
}


.notificationNote, .notificationTip, .notificationCase, .notificationWarning {
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  vertical-align: top;
  display: flex;
  flex-direction: column;
}

.notificationNote {
  background-color: #d5eef8;
  color: #2183a5;
}
.notificationNote .icon:before {
  content: "\f05a";
  color: #2183a5;
}

.notificationTip {
  background-color: #ddefd7;
  color: #308935;
}
.notificationTip .icon:before {
  content: "\f058";
  color: #308935;
}

.notificationCase {
  background-color: #dddddd;
  color: #2b3139;
}
.notificationCase .icon:before {
  content: "\f0c8";
  color: #2b3139;
}

.notificationWarning {
  background-color: #f2dedb;
  color: #992222;
}
.notificationWarning .icon:before {
  content: "\f071";
  color: #992222;
}

.notificationNote .icon, .notificationTip .icon, .notificationCase .icon, .notificationWarning .icon {
  margin-right: 5px;
  vertical-align: middle;
}

.small {
  font-size: 12px;
}

.input-wrapper {
  max-width: 250px;
}

h3 {
  margin-top: 0;
  text-align: center;
  grid-column:span 1;
}
.container{
  display: flex;
  align-items: center;
}


.our-team{
  text-align: center;
  position: relative;
  color: #fff;
}
.our-team img{
  width: 100%;
  height: 100%;
  width: 200px;
  height: 220px; 
  object-fit: cover;
}
.our-team .content{
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 45%;
  transform: perspective(400px) rotateX(-90deg);
  transform-origin: center top 0;
  transition: all 0.5s ease 0s;
  opacity: 0;
}
.our-team:hover .content,
.our-team.active .content{
  opacity: 1;
  transform: perspective(400px) rotateX(0deg);
}
.our-team .content .title{
  margin: 0 0 10px;
  display: block;
  font-size: 25px;
  font-weight: 600;
}
.our-team .content .post{
  margin: 0 0 25px;
  display: block;
  font-size: 15px
}
.our-team .social{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.our-team .social li{
  display: inline-block;
}
.our-team .social li a{
  display: block;
  color: #fff;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 0;
  background-color: #F32248;
  margin-right: 5px;
  transition: all 0.5s ease 0s;
  position: relative;
}
.our-team .social li a:hover, .our-team.active .social li a{
  border-radius: 50%;
  text-decoration: none;
}


#upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#upload-button {
  display: none;
}

.custom-notification {
  position: fixed;
  bottom: 100px;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
  background-color: #e25d5d;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(236, 230, 230, 0.2);
  z-index: 9999;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex; 
  align-items: center; 
}
.custom-notification .notification-icon {
  margin-right: 15px;
}
