
  .text-box {
    background-color: rgb(126, 1, 1);
    padding: 10px;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .img-05 {
    opacity: 0.5;
  }

 

  .baby-icon {
    background-image: url("/static/baby.png");
    background-size:cover;
    position:absolute;
    width:20px;
    height:20px;
    margin-left:-20px;
  }

.body {
  height: 100%;
  margin: 0;
  background-image: url('/static/background.png');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.sidebar {
  height: 100%;
}

.shifted-content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.app-bar {
  width: 100%;
}

[data-role="carousel"] {
  height: 70vh; /* adjust the height to your liking */
}

.slide {
  height: 70vh; /* adjust the height to match the carousel height */
}