

  .text-box {
    background-color: rgb(126, 1, 1);
    padding: 10px;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .img-05 {
    opacity: 0.5;
  }

.background {
  height: 100%;
  margin: 0;
  background-image: url('/static/background.png');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.sidebar {
  height: 100%;
}

.shifted-content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.app-bar {
  width: 100%;
}

[data-role="carousel"] {
  height: 70vh; /* adjust the height to your liking */
}

.slide {
  height: 70vh; /* adjust the height to match the carousel height */
}

a {
  text-decoration: none;
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}
#forgot-pass {
  color: #c22a2a;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}
#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
}
#card2{
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 510px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
  position: relative;
}
#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  color: #c22a2a;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
#submit-btn {
  background: -webkit-linear-gradient(right, #d16f8c, #c22a2a);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #c22a2a;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px #c22a2a;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(right, #d16f8c, #c22a2a);
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}
.underline-title {
  background: -webkit-linear-gradient(right, #d16f8c, #c22a2a);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}


/* Color settings for notification divs */
.notificationNote, .notificationTip, .notificationCase, .notificationWarning {
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  vertical-align: top;
  display: flex;
  flex-direction: column;
}

.notificationNote {
  background-color: #d5eef8;
  color: #2183a5;
}
.notificationNote .icon:before {
  content: "\f05a";
  color: #2183a5;
}

.notificationTip {
  background-color: #ddefd7;
  color: #308935;
}
.notificationTip .icon:before {
  content: "\f058";
  color: #308935;
}

.notificationCase {
  background-color: #dddddd;
  color: #2b3139;
}
.notificationCase .icon:before {
  content: "\f0c8";
  color: #2b3139;
}

.notificationWarning {
  background-color: #f2dedb;
  color: #992222;
}
.notificationWarning .icon:before {
  content: "\f071";
  color: #992222;
}

.notificationNote .icon, .notificationTip .icon, .notificationCase .icon, .notificationWarning .icon {
  margin-right: 5px;
  vertical-align: middle;
}
