<!DOCTYPE html>
<html>
  <head>
    {% include 'links.html' %}
    <title>User Page</title>
  </head>
  <body background="static/background.png">

    <div class="h-100 p-4">
      <p>
        <form action="/newborns/{{ index }}/edit" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <label for="name">Name:</label>
            <input type="text" name="name" value="{{ newborn['name'] }}">
            <div class="form-group">
                <label for="birthdate">Birthdate:</label>
                <div class="input-wrapper">
                  <input type="text" name="birthdate" id="birthdate" data-role="calendarpicker" data-cls-calendar="compact" data-auto-close="true">
                </div>
        <label for="gender">Gender:</label>
            <select id="gender" name="gender" class="form-content">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select><br>
            <button type="submit" class="button success small">Save</button>
          </form>
      </p>
  </div>
  </div>
</body>
{% include 'navbar.html' %}

</html>
