<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/styles.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4.5.1/css/metro-all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/png" href="static/favicon.ico">
    <script src="https://cdn.korzh.com/metroui/v4.5.1/js/metro.min.js"></script>
    <title>Edit newborn</title>
    <a href="{{ url_for('edit.edit_newborn', index=index) }}"></a>

  </head>
  <body background="static/background.png">
    {% include 'navbar.html' %}
    <div class="h-100 p-4">
      <p>
        <form action="{{ url_for('edit.edit_newborn', index=index) }}" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <label for="name">Name:</label>
            <input type="text" name="name" value="{{ newborn['name'] }}">
            <div class="form-group">
                <label for="birthdate">Birthdate:</label>
                <div class="input-wrapper">
                  <input type="text" name="birthdate" id="birthdate" data-role="calendarpicker" data-cls-calendar="compact" data-auto-close="true" value="{{ newborn['birthdate'] }}">

                </div>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" class="form-content">
          <option value="male" {% if newborn['gender'] == 'male' %}selected{% endif %}>Male</option>
          <option value="female" {% if newborn['gender'] == 'female' %}selected{% endif %}>Female</option>
      </select><br>
            <button type="submit" class="button success small">Save</button>
          </form>
      </p>
  </div>
  </div>
</body>
</html>