<!DOCTYPE html>
<html>
  <head>
    <title>History</title>
    <a href="{{ url_for('history.history') }}"></a>
  </head>
  <link rel="stylesheet" href="http://127.0.0.1:5000/static/styles.css">
  <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4.5.1/css/metro-all.min.css">
  <link rel="icon" type="image/png" href="static/favicon.ico">
  <script src="https://cdn.korzh.com/metroui/v4.5.1/js/metro.min.js"></script>
  <body class="background">
    <h1>History</h1>
    <ul>
        <table class="table table-border cell-border">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td class="info">Bill</td>
                <td>Gates</td>
                <td>@billy</td>
            </tr>
            <tr class="yellow">
                <td>2</td>
                <td>Steve</td>
                <td>Jobs</td>
                <td class="success">@stevy</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="alert">Larry</td>
                <td>Page</td>
                <td>@larry</td>
            </tr>
            </tbody>
        </table>
    </ul>
  </body>
</html>
