<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/styles.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4.5.1/css/metro-all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/png" href="static/favicon.ico">
    <script src="https://cdn.korzh.com/metroui/v4.5.1/js/metro.min.js"></script>
    <title>History</title>
    <a href="{{ url_for('history.history') }}"></a>
  </head>
  <body class="background">
    <div class="h-100 p-4">
      <div id="largecard">
        <select name="newborn_name">
          {% for n in newborns %}
          <option value="{{ n['name'] }}">{{ n['name'] }}</option>
          {% endfor %}
        </select>     
        <table class="table" data-role="table">
          <thead>
            <tr>
              <th data-sortable="true" data-sort-dir="asc">Recording Name</th>
              <th data-sortable="true" data-sort-dir="asc">Date</th>
              <th data-sortable="true" data-sort-dir="asc">Prediction</th>
              <th>File</th>
              <th>Feedback</th>
            </tr>
            </thead>
          <tbody id="recording-table-body"></tbody>
        </table>      
        <script>
          const newbornDropdown = document.querySelector('[name=newborn_name]');
          const recordingTableBody = document.getElementById('recording-table-body');        
          newbornDropdown.addEventListener('change', (event) => {
          const selectedNewbornName = event.target.value;       
          // clear existing table rows
          recordingTableBody.innerHTML = '';     
          // display recordings for selected newborn
          const selectedNewborn = newborns.find(n => n.name === selectedNewbornName);
          selectedNewborn.recordings.forEach((recording) => {
          const tr = document.createElement('tr');
          const tdRecordingName = document.createElement('td');
          tdRecordingName.textContent = recording.name;
          const tdDate = document.createElement('td');
          tdDate.textContent = recording.date;
          const tdPrediction = document.createElement('td');
          tdPrediction.textContent = recording.prediction;
          const tdFile = document.createElement('td');
          const fileLink = document.createElement('a');
          fileLink.href = recording.file_url;
          fileLink.textContent = 'Download';
          tdFile.appendChild(fileLink);
          const tdFeedback = document.createElement('td');
          tdFeedback.textContent = recording.feedback;
          tr.appendChild(tdRecordingName);
          tr.appendChild(tdDate);
          tr.appendChild(tdPrediction);
          tr.appendChild(tdFile);
          tr.appendChild(tdFeedback);
          recordingTableBody.appendChild(tr);
          });});         
        </script>
      </div>
    </div>
  {% include 'navbar.html' %}
  </body>
</html>