<!DOCTYPE html>
<html>

  <head>
    {% include 'links.html' %}

    <a href="{{ url_for('home.home') }}"></a>

    <title>Home</title>



  
  </head>

  <body background="static/background.png">
    <div class="h-100 p-4">
      {% include 'navbar.html' %}
      <div id="largecard">
        <div id="card-content">

          <div class="row flex-align-center h-50">
            <img src="static/crybaby.png" alt="Crybaby Image">
          </div>

          <div class="row flex-align-center h-50">
            <div class="cell-md-8 text-center text-bold">
              <p class="mt-4 mb-4 text-center text-bold">The revolutionary newborns cry classifier</p>
              {% include 'team.html' %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
