<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/styles.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4.5.1/css/metro-all.min.css">
    <link rel="icon" type="image/png" href="static/favicon.ico">
    <script src="https://cdn.korzh.com/metroui/v4.5.1/js/metro.min.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body background="static/background.png">
    <div id="card">
        <div id="card-content">
          <div id="card-title">
            <h2>LOGIN</h2>
            <div class="underline-title"></div>
          </div>
          <form method="post" class="form" action="/">
            <label for="username" style="padding-top:13px; font-weight: bold;">
                &nbsp;Username
              </label>
            <input id="username" class="form-content" type="text" name="username" autocomplete="on" required />
            <div class="form-border"></div>
            <label for="password" style="padding-top:22px; font-weight: bold;">&nbsp;Password     
            </label>
            <input id="password" class="form-content" type="password" name="password" required />
            <div class="form-border"></div>
            <a href="#">
              <legend id="forgot-pass">Forgot password?</legend>
            </a>
            <input id="submit-btn" type="submit" name="submit" value="LOGIN" />
            <form method="get" >
                <a href="/register" id="signup" type="submit" value="Register">Don't have account yet?</a>
            </form>
          </form>
        </div>
      </div>
</body>
</html>