<!DOCTYPE html>
<html>
<head>
  {% include 'links.html' %}

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <a href="{{ url_for('login.login') }}"></a>

</head>

<body background="static/background.png">
    <div id="card">
        <div id="card-content">
          <div id="card-title">
            <h2>LOGIN</h2>
            <div class="underline-title"></div>
          </div>
          <form method="post" class="form" action="/">
            <label for="username" style="padding-top:13px; font-weight: bold;">
                &nbsp;Username
              </label>
            <input id="username" class="form-content" type="text" name="username" autocomplete="on" required />
            <div class="form-border"></div>
            <label for="password" style="padding-top:22px; font-weight: bold;">&nbsp;Password     
            </label>
            <input id="password" class="form-content" type="password" name="password" required />
            <div class="form-border"></div>
            <input id="submit-btn" type="submit" name="submit" value="LOGIN" />
            <form method="get" >
                <a href="/register" id="signup" type="submit" value="Register">Don't have account yet?</a>
            </form>
          </form>
        </div>     
      </div>
     

</body> 
 
</html>