<!DOCTYPE html>
<html>
<head>
    {% include 'links.html' %}
</head>
<body class="background">
    <div class="h-100 p-4">
        {% include 'navbar.html' %}
        <div id="largecard">
            <div id="card-title">
                <h2 class="card-title">Newborns</h2>
                <br>
                <div class="underline-title"></div>
            </div>
            <div class="card-content">
                <form action="/newborns" method="POST">
                    <div class="form-group">
                        <label for="name" style="display: block; padding-top: 22px; font-weight: bold;">Name:</label>
                        <div class="input-wrapper">
                        <input type="text" id="name" name="name" class="form-content" required>
                    </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="birthdate" style="padding-top: 22px; font-weight: bold;">Birthdate:</label>
                        <div class="input-wrapper">
                            <input type="text" name="birthdate" id="birthdate" data-role="calendarpicker" data-cls-calendar="compact" data-auto-close="true" value="{{date}}" class="form-content">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gender" style="padding-top: 22px; font-weight: bold;">Gender:</label>
                        <select id="gender" name="gender" class="form-content" required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select><br>
                    </div>
                    <input type="submit" value="Add newborn" id="submit-btn" class="form-content">
                </form>
                <div class="table-container" style="overflow-y: auto; max-height: 260px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th data-sortable="true" data-sort-dir="asc">Name</th>
                                <th data-sortable="true" data-sort-dir="asc">Date of Birth</th>
                                <th data-sortable="true" data-sort-dir="asc">Gender</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for newborn in newborns %}
                            <tr>
                                <td>{{ newborn['name'] }}</td>
                                <td>{{ newborn['birthdate'] }}</td>
                                <td>{{ newborn['gender'] }}</td>
                                <td>
                                    <form action="/newborns/{{ loop.index0 }}" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="button alert" style="float: left;width:35%;">
                                            <span class="mif-bin"></span>
                                        </button>
                                    </form>
                                    <form action="/newborns/{{ loop.index0 }}/edit" method="GET">
                                        <button type="submit" class="button success" style="float: left; width: 35%; margin-left:10px">
                                            <span class="mif-wrench"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body
