<!DOCTYPE html>
<html>
<head>
  {% include 'links.html' %}
  <a href="{{ url_for('record.record') }}"></a>
  <title>Record</title>
  
</head>
<body class="background">
  <div class="h-100 p-4">
    {% include 'navbar.html' %}
    <div id="largecard">
        <div id="card-title">
          <h2>Record Live</h2>
          <div class="underline-title"></div>
        </div>
        <div id="card-content">
            <form action="/record" method="post" enctype="multipart/form-data" id="upload-form">
              <span style="padding-top:22px; padding-bottom:22px;">
              <label for="newborn_name" style="padding-top:22px; padding-bottom:22px; font-weight: bold;">Pick a newborn: </label>               
              <select name="newborn_name">
                {% for n in newborns %}
                <option value="{{ n['name'] }}">{{ n['name'] }}</option>
                {% endfor %}
              </select>
            </span>
              <input type="text" class="form-content"name="recording_name" placeholder="Enter recording name">
              <div class="form-border"></div>
              <br>
              <div style="margin-top:15px;">
                <button id="startRecording" class="button alert play-button "><span class="mif-mic icon-lg"></span></button>
                <button id="stopRecording" class="button alert play-button" disabled><i class="fas fa-stop"></i></button>
              </div>
              
            </form>
            <div class="loading-container" id="loading-container" style="display: none;">
              {% include 'loading.html' %}
            </div>
            <div id="prediction-result" {% if not file_chosen %} style="display: none;"{% endif %}></div>
            {% if result is defined %}
            <div class="result-container">
              <div id="card-title">
                <h2>Prediction result</h2>
                <br>
                <div class="underline-title"></div>
              </div>
              <h2 style="font-size: 16px; font-weight: bold;">{{result}}</h2>
              {% if result == 'Discomfort' %}
              <img src="{{ url_for('static', filename='discomfort.png') }}" alt="Image 1" height="50">
              {% elif result == 'Hunger' %}
              <img src="{{ url_for('static', filename='hungry.png') }}" alt="Image 2" height="50">
              {% elif result == 'Tiredness' %}
              <img src="{{ url_for('static', filename='tired.png') }}" alt="Image 3" height="50">
              {% endif %}
            </div>
            {% endif %}
               
        </div>
      </div>
    </div>

  </div>
  <script>

    function showNotification(message) {
      var notification = document.createElement('div');
      notification.classList.add('custom-notification');

      var icon = document.createElement('i');
      icon.classList.add('fas', 'fa-exclamation-circle', 'icon');
      notification.appendChild(icon);

      var messageElement = document.createElement('span');
      messageElement.textContent = message;
      notification.appendChild(messageElement);

      document.body.appendChild(notification);

      setTimeout(function () {
        notification.remove();
      }, 3000);
    }


    navigator.mediaDevices.getUserMedia({ audio: true })
      .then(stream => { handlerFunction(stream) });

    function handlerFunction(stream) {
      rec = new MediaRecorder(stream);
      rec.ondataavailable = e => {
        audioChunks.push(e.data);
        if (rec.state == "inactive") {
          let blob = new Blob(audioChunks);
          sendData(blob);
        }
      }
    }

    function sendData(data) {
      const form = new FormData(document.querySelector('form'));
      const newbornName = document.querySelector('select[name="newborn_name"]').value;
      const recordingName = document.querySelector('input[name="recording_name"]').value;
      form.append('newborn_name', newbornName);
      form.append('recording_name', recordingName);
      form.append('file', data, 'data');


      fetch('/record', {
        method: 'POST',
        body: form
      })
        .then(response => response.text())
        .then(result => {
          if (result === 'Error') {
            // Show custom notification for exceeding file size limit
            showNotification('You exceeded free space on your account, please remove some recordings!');
            return;
          }
          
          document.getElementById('prediction-result').innerHTML = `
            <div class="result-container">
              <div id="card-title">
                <h2>Prediction result</h2>
                <br>
                <div class="underline-title"></div>
              </div>
              <h2 style="font-size: 16px; font-weight: bold;">${result}</h2>
              ${result === 'Discomfort' ? `<img src="{{ url_for('static', filename='discomfort.png') }}" alt="Image 1" height="50">` :
              result === 'Hunger' ? `<img src="{{ url_for('static', filename='hungry.png') }}" alt="Image 2" height="50">` :
              result === 'Tiredness' ? `<img src="{{ url_for('static', filename='tired.png') }}" alt="Image 3" height="50">` : ''}
            </div>
          `;
          document.getElementById('prediction-result').style.display = 'block'; // Show the prediction result
        })
        .catch(error => {
          console.error('Error:', error);
          document.getElementById('loading-container').style.display = 'none'; // Hide the loading container
          document.getElementById('upload-button').style.display = 'block'; // Show the upload button (in case of error)
        });
      
    }

    let audioChunks = [];
    let recTimeout;
    startRecording.onclick = e => {
      console.log('Recording has started..');
      startRecording.disabled = true;
      stopRecording.disabled = false;
      audioChunks = [];
      rec.start();
      recTimeout = setTimeout(() => {
        stopRecording.click();
      }, 7500);
    };

    stopRecording.onclick = e => {
      console.log("Recording has stopped.");
      startRecording.disabled = false;
      stopRecording.disabled = true;
      rec.stop();
      clearTimeout(recTimeout);
      
    };
  </script>
</body>
</html>
