<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://127.0.0.1:5000/static/styles.css">
  <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4.5.1/css/metro-all.min.css">
  <link rel="icon" type="image/png" href="static/favicon.ico">
  <script src="https://cdn.korzh.com/metroui/v4.5.1/js/metro.min.js"></script>
  <a href="{{ url_for('record.record') }}"></a>
  <title>Record</title>

</head>
<body class>


  <aside class="sidebar pos-absolute z-2" data-role="sidebar" data-toggle="#sidebar-toggle-3" id="sb3" data-shift=".shifted-content" >
    <div class="sidebar-header" data-image="images/sb-bg-1.jpg">
      <div class="avatar"></div>
      <span class="title fg-black">Crybaby</span>
    </div>
    <ul class="sidebar-menu">
      <li><a href="/home"><span class="mif-home icon"></span>Home</a></li>
      <li><a href="/upload"><span class="mif-file-upload icon"></span>Upload</a></li>
      <li><a href="/record"><span class="mif-record_voice_over icon"></span>Record</a></li>
      <li><a href="/history"><span class="mif-history icon"></span>History</a></li>
      <li><a href="/newborns"><span class="mif-organization icon"></span>Newborns</a></li>
      <li><a href="/user"><span class="mif-user icon"></span>User</a></li>
      <li><a href="/logout"><span class="mif-exit icon"></span>Logout</a></li>
    </ul>
  </aside>
  <div class="shifted-content h-100 p-ab">
    <div class="app-bar pos-absolute bg-red z-1" data-role="appbar">
        <button class="app-bar-item c-pointer" id="sidebar-toggle-3">
            <span class="mif-menu fg-white"></span>
        </button>
    </div>

    <div class="h-100 p-4">
        <p>
          <div class="remark alert">
            <h3>Make a new recording</h3>
              <!-- HTML form for recording audio -->
                <form action="/record" id="recordForm" method="post" enctype="multipart/form-data">
                <!--input type="button" value="Record" id="recordButton">
                <input type="hidden" id="audioData" name="record_file">
                <input type="button" value="Submit" id="submitButton" style="display: none;"-->
                <button id="startRecording">Start recording</button>
                <button id="stopRecording" disabled>Stop recording</button>
                <button id="downloadAudio" disabled>Download</button>

                <select name="newborn">
                  {% for n in newborns %}
                    <option value="{{ n['name'] }}">{{ n['name'] }}</option>
                  {% endfor %}
                </select>
               </form>
              <audio controls id="audioPlayer"></audio>
  
            <script>
                navigator
                    .mediaDevices
                    .getUserMedia({audio: true})
                    .then(stream => { handlerFunction(stream) });

                function handlerFunction(stream) {
                    rec = new MediaRecorder(stream);
                    rec.ondataavailable = e => {
                        audioChunks.push(e.data);
                        if (rec.state == "inactive") {
                          let blob = new Blob(audioChunks);
                            sendData(blob);

                        }
                    }
                }

                function sendData(data) {
                    var form = new FormData();
                    const duration = 7;
                    document.getElementById('audioPlayer').setAttribute('duration', duration);
                    form.append('file', data, 'data');
                    //Chrome inspector shows that the post data includes a file and a title.
                    fetch('/record', {method: 'POST', body: form})
                    .then(response => {
                    console.log(response); });                             
                   }

                   let recTimeout;

                    startRecording.onclick = e => {
                    console.log('Recording has started..');
                    startRecording.disabled = true;
                    stopRecording.disabled = false;
                    audioChunks = [];
                    rec.start();
                    recTimeout = setTimeout(() => {
                    stopRecording.click();
                          }, 7500);
                      };

                      stopRecording.onclick = e => {
                      console.log("Recording has stopped.");
                      startRecording.disabled = false;
                      stopRecording.disabled = true;
                      rec.stop();
                          clearTimeout(recTimeout);
                      };                                                       
              </script>
          </div>
        </p>
      </div>
  
      // Call the startRecording function when the page loads
      window.onload = startRecording;
    
  </body>
</html>