<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/styles.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4.5.1/css/metro-all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/png" href="static/favicon.ico">
    <script src="https://cdn.korzh.com/metroui/v4.5.1/js/metro.min.js"></script>
    <title>Register</title>
    <a href="{{ url_for('register.register') }}"></a>

</head>
<body background="static/background.png">
    <div id="card2">
        <div id="card-content">
          <div id="card-title">
            <h2>Register</h2>
            <div class="underline-title"></div>
          </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notificationWarning">
            <i class="fas fa-circle-info icon"></i>
            <p style="font-size:0.8rem; text-align: center;"><b>Account already registered!</b></p>
        </div>
        {% endif %}
    {% endwith %}
    <form method="post" class="form" action="/register">
        <label for="username" style="padding-top:13px; font-weight: bold;">&nbsp;Username</label>
        <input id="username" class="form-content" type="text" name="username" autocomplete="on" required />
        <div class="form-border"></div>
        <label for="password" style="padding-top:22px; font-weight: bold;">&nbsp;Password</label>
        <input id="password" class="form-content" type="password" name="password" required />
        <div class="form-border"></div>
        <label for="email" style="padding-top:22px; font-weight: bold;">&nbsp;Email</label>
        <input id="email" class="form-content" type="email" name="email" required />
        <div class="form-border"></div>
        <input id="submit-btn" type="submit" name="submit" value="Register" />
      </form>
    </div>
  </div>
</body>
</html>

