<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Team Showcase</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="\static\daniel.png" alt="team member" class="img-responsive">
                </div>
                <div class="content">
                    <h3 class="title">Daniel Uralsky</h3>
                    <span class="post">Co-Developer</span>
                    <ul class="social">
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>

       <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="\static\max.png" alt="team member" class="img-responsive">
                </div>
                <div class="content">
                    <h3 class="title">Maxim Kobzer</h3>
                    <span class="post">Co-Developer</span>
                    <ul class="social">
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>