<!DOCTYPE html>
<html>
<head>
  {% include 'links.html' %}
  <a href="{{ url_for('upload.upload') }}"></a>
  <title>Upload</title>
  <style>
    .result-container {
      text-align: center;
    }

    .file-dropbox {
      width: 400;
    }

    .loading-container {
      position: relative; 
      text-align: center;
      margin-bottom: 20px;
    }

    .loading-text {
      font-size: 20px;
      font-weight: bold;
      position: absolute; 
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
    }
  </style>
</head>
<body class="background">
  <div class="h-100 p-4">
    {% include 'navbar.html' %}
    <div id="largecard">
      <!--div id="upload-form"-->
        <p>
          <div id="card-title">
            <h2>Upload a recording</h2>
            <div class="underline-title"></div>
          </div>
          <div id="card-content">
            <form action="/upload" method="post" enctype="multipart/form-data" id="upload-form">
              <input id="fileInput" type="file" name="file" data-role="file" onchange="onFileInputChange(event)" class="file-dropbox" data-button-title="<span class='mif-folder'></span>" data-prepend="Choose a WAV file:">
              <label for="newborn_name" style="padding-top:22px; padding-bottom:22px; font-weight: bold;">
                Pick a newborn:

              <select name="newborn_name">
                {% for n in newborns %}
                <option value="{{ n['name'] }}">{{ n['name'] }}</option>
                {% endfor %}
              </select>
            </label>

              <br>
              <input type="text"  name="recording_name"  placeholder="Enter recording name">

              <button type="submit" id="upload-button" style="display: none;">Upload</button>
            </form>
            <div class="loading-container" id="loading-container" style="display: none;">
              {% include 'loading.html' %}
              <p class="loading-text">Processing...</p>
            </div>
            <div id="prediction-result" {% if not file_chosen %}style="display: none;"{% endif %}></div>
            {% if result is defined %}
            <div class="result-container">
              <div id="card-title">
                <h2>Prediction result</h2>
                <br>
                <div class="underline-title"></div>
              </div>
              <h2 style="font-size: 16px; font-weight: bold;">{{result}}</h2>
              {% if result == 'Discomfort' %}
              <img src="{{ url_for('static', filename='discomfort.png') }}" alt="Image 1" height="50">
              {% elif result == 'Hunger' %}
              <img src="{{ url_for('static', filename='hungry.png') }}" alt="Image 2" height="50">
              {% elif result == 'Tiredness' %}
              <img src="{{ url_for('static', filename='tired.png') }}" alt="Image 3" height="50">
              {% endif %}
            </div>
            {% endif %}
          </div>
        </p>
      <!--/div-->
    </div>
  </div>

  <script>
    function showNotification(message) {
      var notification = document.createElement('div');
      notification.classList.add('custom-notification');

      var icon = document.createElement('i');
      icon.classList.add('fas', 'fa-exclamation-circle', 'icon');
      notification.appendChild(icon);

      var messageElement = document.createElement('span');
      messageElement.textContent = message;
      notification.appendChild(messageElement);

      document.body.appendChild(notification);

      setTimeout(function () {
        notification.remove();
      }, 3000);
    }

    function onFileInputChange(event) {
      var fileInput = event.target;
      var file = fileInput.files[0];
      var fileType = file.type;
      var validTypes = ['audio/wav'];

      if (!validTypes.includes(fileType)) {
        // Show custom notification for invalid file type
        showNotification('Only WAV files are allowed!');
        fileInput.value = null; // Clear the file input
        document.getElementById('upload-button').style.display = 'none'; // Hide the upload button
        return;
      }

      var fileSizeInBytes = file.size;
      var maxSizeInBytes = 2048 * 1024; // 2MB

      if (fileSizeInBytes > maxSizeInBytes) {
        // Show custom notification for exceeding file size limit
        showNotification('You exceeded the file size limit!');
        fileInput.value = null; // Clear the file input
        document.getElementById('upload-button').style.display = 'none'; // Hide the upload button
        return;
      }

      document.getElementById('upload-button').style.display = 'block'; // Show the upload button
      document.getElementById('prediction-result').style.display = 'none'; // Hide the prediction result
    }

    document.getElementById('upload-form').addEventListener('submit', function (event) {
      var newbornSelect = document.querySelector('select[name="newborn_name"]');
      if (newbornSelect.value === '') {
        event.preventDefault(); // Prevent form submission
        showNotification('Please select a newborn!');
        return;
      }

      document.getElementById('upload-button').style.display = 'none'; // Hide the upload button
      document.getElementById('loading-container').style.display = 'block'; // Show the loading container

      event.preventDefault(); // Prevent form submission

      var fileInput = document.getElementById('fileInput');
      var file = fileInput.files[0];
      var form = new FormData();
      form.append('file', file);
      form.append('newborn_name', newbornSelect.value);
      form.append('recording_name', document.querySelector('input[name="recording_name"]').value);
      fetch('/upload', {
        method: 'POST',
        body: form
      })
        .then(response => response.text())
        .then(result => {
          document.getElementById('prediction-result').innerHTML = `
            <div class="result-container">
              <div id="card-title">
                <h2>Prediction result</h2>
                <br>
                <div class="underline-title"></div>
              </div>
              <h2 style="font-size: 16px; font-weight: bold;">${result}</h2>
              ${result === 'Discomfort' ? `<img src="{{ url_for('static', filename='discomfort.png') }}" alt="Image 1" height="50">` :
              result === 'Hunger' ? `<img src="{{ url_for('static', filename='hungry.png') }}" alt="Image 2" height="50">` :
              result === 'Tiredness' ? `<img src="{{ url_for('static', filename='tired.png') }}" alt="Image 3" height="50">` : ''}
            </div>
          `;
          document.getElementById('prediction-result').style.display = 'block'; // Show the prediction result
          document.getElementById('loading-container').style.display = 'none'; // Hide the loading container
          fileInput.value = null; // Reset the file input
        })
        .catch(error => {
          console.error('Error:', error);
          document.getElementById('loading-container').style.display = 'none'; // Hide the loading container
          document.getElementById('upload-button').style.display = 'block'; // Show the upload button (in case of error)
        });
    });
  </script>
</body>
</html>
