<!DOCTYPE html>
<html>
<head>
  {% include 'links.html' %}

  <a href="{{ url_for('upload.upload') }}"></a>

  <title>Upload</title>
</head>
<body class="background">
  <div class="h-100 p-4">
    {% include 'navbar.html' %}
    <div  id="largecard">
      <div id="upload-form">
        <p>
          <div class="remark alert">
            <h3>Upload a recording</h3>
          </div>
          <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" data-role="file" data-mode="drop" onchange="showUploadButton()">
            <select name="newborn_name">
              {% for n in newborns %}
              <option value="{{ n['name'] }}">{{ n['name'] }}</option>
              {% endfor %}
            </select>
            <input type="text" name="recording_name" placeholder="Enter recording name">
            <button type="submit" id="upload-button">Upload</button>
          </form>   
          {% if result is defined %}
          <div>
            <h3>Prediction Result:</h3>
            <p>{{ result }}</p>
          </div>
          {% endif %}
        </p>
      </div>
      </div>
    </div>
  <script>
  function showUploadButton() {
    var uploadButton = document.getElementById("upload-button");
    uploadButton.style.display = "inline";
  }
  </script>       
</body>

</html>
