<!DOCTYPE html>
<html>
  <head>
    {% include 'links.html' %}

    <a href="{{ url_for('user.user') }}"></a>
    <title>User Page</title>
  </head>
  <body background="static/background.png">
        <div class="h-100 p-4" >
          {% include 'navbar.html' %}
            <p>
              <div id="card2">
                <div id="card-content">
                  <div id="card-title">
                    <h2>{{username}}</h2>
                    <div class="underline-title"></div>
                  </div>
                  <div class="notificationNote">
                    <i class="fa fa-exclamation-circle"></i>
                    <p style="font-size:0.8rem; text-align: center;"><b>Edit fields to change and press Save Changes!</b></p>
                </div>
                  <form method="post" action="/user">
                    <label for="email" style="display: block; padding-top: 13px; font-weight: bold;">
                      &nbsp;Email
                    </label>
                    <input type="email" id="email" name="email" value="{{ email }}" class="form-content" required>
                    <div class="form-border"></div>
                  <br>
                    <label for="password" style="padding-top:13px; font-weight: bold;"  >
                      &nbsp;Password
                    </label>
                    <input type="text" id="password" name="password" value="{{ password }}" class="form-content" required>
                    <div class="form-border"></div>
                  
                    <input type="submit" id="submit-btn" value="Save Changes">
                  </form>
                  
              </div>
            </p>
        </div>
        </div>

  </body>

</html>

